<!-- **************************************************************** -->
  <!--  ROSLAUNCH FILE    (http://wiki.ros.org/roslaunch/)              -->
  <!--                                                                  -->
  <!--  Este launch lanza los nodos de inferencia e los kp en 2d en     -->
  <!--  la cámara 3 y 4 y de realizar la triangulación 3D de los KP     -->
  <!--                                                                  -->
  <!--  COMMAND-LINE USAGE:                                             -->
  <!--       roslaunch hand_gesture_recognition hand_pose_3d.launch     -->
  <!--                                                                  -->
  <!-- Modificado por Rodrigo Castro Ochoa, 2025                        -->
  <!-- email: rcastro@uma.es, github: rodri-castro                      -->
  <!-- **************************************************************** -->

<launch>
    <!-- Modificación del archivo hand_sign.launch -->

    <!-- Modelo de detección -->
    <arg name="keypoint_classifier_label"     default="$(find hand_gesture_recognition)/src/model/keypoint_classifier/keypoint_classifier_label.csv"/>
    <arg name="keypoint_classifier_model"     default="$(find hand_gesture_recognition)/src/model/keypoint_classifier/keypoint_classifier.tflite"/>
    
    <arg name="pose_2d_detect"                default="true"/>
    <arg name="pose_2d_log_show"              default="false"/>
    <arg name="pose_2d_img_show"              default="false"/>
    <arg name="pose_2d_img_pub"               default="true"/>

    <!-- Input topics for each camera -->
    <arg name="sub_img_topic_name_camera_3"   default="/camera3/color/image_raw"/>
    <arg name="sub_img_topic_name_camera_4"   default="/camera4/color/image_raw"/>

    <arg name="camera_info_topic_camera_3"    default="/camera3/color/camera_info"/>
    <arg name="camera_info_topic_camera_4"    default="/camera4/color/camera_info"/>
    
    <!-- Output topics for each camera -->
    <arg name="cartesian_pub_topic_camera_3"  default="/camera3/hand/cartesian_detections"/>
    <arg name="cartesian_pub_topic_camera_4"  default="/camera4/hand/cartesian_detections"/>

    <arg name="pub_img_topic_name_camera_3"     default="/camera3/hand/pose_img"/>
    <arg name="pub_img_topic_name_camera_4"     default="/camera4/hand/pose_img"/>

    <arg name="pub_ges_topic_name_camera_3"     default="/camera3/hand/gesture"/>
    <arg name="pub_ges_topic_name_camera_4"     default="/camera4/hand/gesture"/>

    <arg name="pub_hand_lm_topic_name_camera_3" default="/camera3/hand/pixel_detections"/>
    <arg name="pub_hand_lm_topic_name_camera_4" default="/camera4/hand/pixel_detections"/>

    <!-- Keypoints a triangular -->
    <arg name="kp_to_triangulate" default="all" doc="Hand keypoints to triangulate: [reduced/all]"/>


    <!-- Nodo de reconocimiento de la mano - Cámara 3 -->
    <node name="hand_pose_2d_camera_3" pkg="hand_gesture_recognition" type="hand_pose_2d.py" output="screen">
        <param name="keypoint_classifier_label" type="string" value="$(arg keypoint_classifier_label)" />
        <param name="keypoint_classifier_model" type="string" value="$(arg keypoint_classifier_model)" />

        <param name="pose_2d_detect"     type="bool" value="$(arg pose_2d_detect)" />
        <param name="pose_2d_log_show"   type="bool" value="$(arg pose_2d_log_show)" />
        <param name="pose_2d_img_show"   type="bool" value="$(arg pose_2d_img_show)" />
        <param name="pose_2d_img_pub"    type="bool" value="$(arg pose_2d_img_pub)" />

        <!-- Input topics -->
        <param name="sub_img_topic_name" type="string" value="$(arg sub_img_topic_name_camera_3)"/>
        <param name="camera_info_topic" type="string" value="$(arg camera_info_topic_camera_3)"/>

        <!-- Output topics -->
        <param name="cartesian_pub_topic" type="string" value="$(arg cartesian_pub_topic_camera_3)"/>
        <param name="pub_img_topic_name" type="string" value="$(arg pub_img_topic_name_camera_3)"/>
        <param name="pub_ges_topic_name" type="string" value="$(arg pub_ges_topic_name_camera_3)"/>
        <param name="pub_hand_lm_topic_name" type="string" value="$(arg pub_hand_lm_topic_name_camera_3)"/>
    </node>

    <!-- Nodo de reconocimiento de la mano - Cámara 4 -->
    <node name="hand_pose_2d_camera_4" pkg="hand_gesture_recognition" type="hand_pose_2d.py" output="screen">
        <param name="keypoint_classifier_label" type="string" value="$(arg keypoint_classifier_label)" />
        <param name="keypoint_classifier_model" type="string" value="$(arg keypoint_classifier_model)" />

        <param name="pose_2d_detect"     type="bool" value="$(arg pose_2d_detect)" />
        <param name="pose_2d_log_show"   type="bool" value="$(arg pose_2d_log_show)" />
        <param name="pose_2d_img_show"   type="bool" value="$(arg pose_2d_img_show)" />
        <param name="pose_2d_img_pub"    type="bool" value="$(arg pose_2d_img_pub)" />

        <param name="sub_img_topic_name" type="string" value="$(arg sub_img_topic_name_camera_4)"/>
        <param name="camera_info_topic" type="string" value="$(arg camera_info_topic_camera_4)"/>
        <param name="cartesian_pub_topic" type="string" value="$(arg cartesian_pub_topic_camera_4)"/>
        <param name="pub_img_topic_name" type="string" value="$(arg pub_img_topic_name_camera_4)"/>
        <param name="pub_ges_topic_name" type="string" value="$(arg pub_ges_topic_name_camera_4)"/>
        <param name="pub_hand_lm_topic_name" type="string" value="$(arg pub_hand_lm_topic_name_camera_4)"/>
    </node>

    <!-- Nodo de triangulación 3D -->
    <node name="hand_pose_triangulation" pkg="hand_gesture_recognition" type="triangulate.py" output="screen">
        <param name="cartesian_pub_topic_camera_3" value="$(arg cartesian_pub_topic_camera_3)"/>
        <param name="cartesian_pub_topic_camera_4" value="$(arg cartesian_pub_topic_camera_4)"/>
        <param name="kp_to_triangulate" value="$(arg kp_to_triangulate)"/>
    </node>

</launch>
